@font-face {
  font-family: Sideboard;
  src: url('fonts/Sideboard.otf');
}

html {
  color: #3c3b3a;
  font-family: Sideboard, Fallback, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.intro {
  flex-grow: 1;
  justify-content: flex-end;
}

a.btn-link {
  color: #e9571e;
  border: solid 1px #e9571e;
  border-radius: 50px;
  padding: 4px 16px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

a.btn-link:hover {
  background-color: #e9571e;
  color: white;
}

.name {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(5deg);
  margin-bottom: -1.1rem;
}

.name span {
  font-size: 72px;
  color: #e9571e;
  opacity: 0;
  animation: drop 0.8s forwards;
}

.name span.with-space {
  margin-left: 0.5rem;
}

.name span:nth-child(2) {
  animation-delay: 0.2s;
}

.name span:nth-child(3) {
  animation-delay: 0.4s;
}

.name span:nth-child(4) {
  animation-delay: 0.6s;
}

.name span:nth-child(5) {
  animation-delay: 0.8s;
}

.name span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

p.description {
  font-size: 24px;
  text-align: center;
}

span.highlight {
  color: #e9571e;
}

div.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.links a.social-media-links {
  transition: 0.3s;
}

.links a.social-media-links:hover {
  transform: translateY(-10px);
}

div.hole {
  display: flex;
  background-color: #e9571e;
  width: 300px;
  height: 32px;
  border-radius: 50%;
}

section.works {
  flex-grow: 1;
  background-color: #fbce0e;
  padding-block: 5rem;
  --mask: radial-gradient(60.47px at 50% 82.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(60.47px at 50% -52.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
